.header {
}
.header__container {
  display: flex;
  align-items: center;
  padding-top: 4.8rem;
}
.container {
}
.header-image-wrapper {
  margin-right: 5rem;
  display: flex;
  align-items: center;
  transition: 0.3s;
  a:hover {
    opacity: 0.4;
  }
}
.sitenav {
  ul {
    display: flex;
    gap: 2.5rem;
    li {
      a {
        color: $primary-white;
        font-size: 1.125rem;
        font-family: $main-font-family;
        font-weight: 600;
        line-height: 1.75rem;
        transition: 0.3s;

        &:hover {
          color: $primary-ligth-coral;
        }
      }
    }
  }
}

// mobile responsive

@media screen and (max-width: 375px) {
  .container {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }

  .sitenav {
    display: none;
  }
  .header__btn {
    display: none;
  }

  .header__container {
    margin-top: -1.5rem;
  }

  .header-image-wrapper {
    img {
      width: 8rem;
    }
  }

  .header__toggle-btn {
    display: inline;
    margin-left: auto;
  }
}
